<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.dao.UserInfoDao">
    <!--查询所有 用户数据-->
    <select id="getUsers"  resultType="com.example.springboot.domain.UserInfo">
         SELECT * FROM  users;
    </select>
 <!--可以通过任意的条件信息来进行过滤查询-->
    <select id="getUser" parameterType="com.example.springboot.domain.UserInfo" resultType="com.example.springboot.domain.UserInfo">
        SELECT
        id,
        name,
        age
        FROM
        users
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name like "%"#{name}"%"
            </if>
            <if test="age != null">
                and age = ${age}
            </if>
        </where>
    </select>
    <!--更新数据库中的某一条记录-->
    <update id="updateUser" parameterType="com.example.springboot.domain.UserInfo" >
        UPDATE users SET
        users.name=#{name},
        users.age=#{age}
        where
        users.id = #{id}
    </update>
    <!--数据插入，插入一条记录数据-->
    <insert id="insertUser" parameterType="com.example.springboot.domain.UserInfo">
     INSERT INTO users (id, NAME, age)
     VALUES
	(#{id}, #{name}, #{age})
    </insert>

    <!--循环遍历插入一个集合数据--><!--删除表中的某一条记录数据-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM users WHERE id = #{id}
    </delete>
    <insert id="addUsers" parameterType="List">
        INSERT INTO users
        (id,name,age)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.id},
        #{item.name},
        #{item.age}
        )
    </foreach>
    </insert>
    <!--插入一个map类型的数据-->
    <!--<insert id="addUserMap" parameterType="java.util.Map" >


    </insert>-->

</mapper>